<section class="module module-gray" id="contacto">
<div class="container">
  
  <div class="row">
    <div class="col-md-12">
      <div class="m-title c-align">
        <h2>CONTACTO</h2>
        <!--<h6>{{head.subtitle}}</h6>-->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" >
      <P>TFNO</P>
      <img src="../../../assets/images/movil.jpg" width="50">
      <P>+34 638 33 94 49</P>
      <P>CORREO</P>
      <img src="../../../assets/images/mail.png" width="50">
      <P>alfredopea.pea@gmail.com</P>
      <!--<table class="table table-borderless">
        <tbody>
          <tr *ngFor="let a of awards;">
            <td><i class="fabiconawards fa fa-trophy fa-lg text-warning "></i></td>
            <td>{{ a.title }} - <strong>  {{ a.name }}  </strong></td>
          </tr>
        </tbody>
      </table>-->
    </div>
  </div>
</div>
</section>
