<div class="page-loader">
  
  <div class="cssload-container">
    <div class="cssload-whirlpool"></div>
  </div>
</div>

<app-header (language)="emmit($event)" ></app-header>
<div class="wrapper">
  

  <app-headline [Spanish]="emmitSpanish"></app-headline>
  <app-profile [Spanish]="emmitSpanish"></app-profile>
  <app-formacion [Spanish]="emmitSpanish"></app-formacion>
  <app-skills [Spanish]="emmitSpanish"></app-skills>
  <app-resume [Spanish]="emmitSpanish"></app-resume>
  <app-awards [Spanish]="emmitSpanish"></app-awards>
</div>

