<section class="module" id="portfolio">
 <!-- <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="m-title c-align">
          <h2>{{head.title}}</h2>
          <h6>{{head.subtitle}}</h6>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="timeline">
          <li *ngFor="let job of jobs">
            <div class="timeline-badge"></div>
            <div class="timeline-panel">
              <div class="timeline-body">
                <h5 class="timeline-title">{{job.position}} | {{job.period}}</h5>
                <h6 class="timeline-description">{{job.company}}  </h6>
                <div [innerHTML]="job.displayedDescription"></div>
              </div>
            </div>
          </li>
          <div class="timeline-top"></div>
        </ul>
        <div class="text-center"><a class="btn btn-lg btn-gray" target="_blank" href="/assets/docs/resume.pdf" download ><span>Download CV</span></a></div>
      </div>
    </div>
  </div>-->
  <!--<div class="container">
    <h4>Mis proyectos en github</h4>
    <div style="right: auto;">
      <p><a href="https://github.com/Alfredopena">
        <img src="../../../assets/images/github.png" width="200" height="100" style="max-width: 100%; height: auto;" >
        </a></p></div>
    
  </div>-->

  
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="m-title c-align">
            <h2>PORTFOLIO</h2>

            <!--<h6>{{subtitle}}</h6>-->
          </div>
        </div>

    <div class="m-title c-align" style="display: flex; align-items: center;">
      <div class="col-md-5" margin="10" style="flex: 1; text-align: justify;">
          <!--<h5>Mis proyectos en github</h5>-->
          <div class="m-title c-align">
            <h2>Mis proyectos en github</h2>

            <!--<h6>{{subtitle}}</h6>-->
          </div>
      </div>
      
      <div>
          <p><a href="https://github.com/Alfredopena">
              <img src="../../../assets/images/github.png"  width="400px" height="100" style="max-width: 100%; height: auto;" >
              </a></p>
      </div>
  </div>

</div>
</div>
</section>
